@tailwind base;
@tailwind components;
@tailwind utilities;

/* NavBar */

.navbar-container{
  @apply bg-[#333] py-1.5 w-screen fixed top-0
}
.navbar-elements{
  @apply flex justify-around text-white items-center 
}

.li-elements{
  @apply cursor-pointer
}

.hide-on-big-screen{
  @apply hidden
}

.sub-categories {
  @apply relative bg-[#333]
}

.sub-list{
  @apply my-2 h-8 mx-2 
}

.navbar-elements-dropdown {
  @apply bg-[#333] absolute
}

/* Header */

.header-container{
  @apply py-5 text-center mt-12
}

.header-text{
  @apply text-4xl font-bold
}





@media (max-width: 1010px) {

  /* Navbar */
  .hide-on-mobile {
    @apply hidden
  }

  .menu-button {
    @apply block cursor-pointer w-10 text-white py-0.5 
  }

  .navbar-elements-dropdown {
    @apply hidden
  }

  .navbar-elements-dropdown {
    @apply flex flex-col  bg-[#333] text-white w-[20%] items-center 
  }

  .li-elements{
    @apply py-2
  }

  .navbar-elements{
    @apply hidden
  }

  .menu-icon{
    @apply w-6 ml-2 
  }

  .navbar-container{
    @apply h-[35px]
  }
  
  .line {
    @apply  w-6 h-0.5 bg-white pt-0.5 mb-1.5 relative ml-2
  }

  .sub-list{
    @apply hidden 
  }
 
}


body {
  @apply m-0;
  font-family: Arial, sans-serif;
}

.layout {
  @apply flex flex-col min-h-[100vh] bg-[#f2f2f2];
}

.content {
  @apply flex-1 p-5
}

.news-cards-container {
  @apply grid grid-cols-[repeat(auto-fit,minmax(300px,1fr))] gap-6;

}

.news-cards {
  @apply bg-[#fff] rounded-sm overflow-hidden shadow-md;
}

.news-image img {
  @apply w-[100%] h-[200px] object-cover rounded-tl-lg rounded-tr-lg
}

.news-details {
  @apply p-4
}

.news-title {
  @apply text-lg font-bold mb-2 text-[#333];
}

.news-description {
  @apply text-sm leading-6 mb-2.5 text-[#555];
}

.read-more {
  @apply inline-block bg-[#007bff] text-[#fff] py-2 px-4 rounded-md;
}

.read-more:hover {
  @apply bg-[#0056b3]
}

.footer {
  @apply text-center p-2.5 bg-[#333] text-[#fff]
}

