@tailwind base;
@tailwind components;
@tailwind utilities;

/* NavBar */

.navbar-container{
  @apply bg-[#000] h-[30px]
}
.navbar-elements{
  @apply flex justify-around text-white items-center cursor-pointer
}

.hide-on-big-screen{
  @apply hidden
}

.sub-categories {
  @apply relative bg-black 
}

.sub-list{
  @apply my-2 h-8 mx-2 
}

.navbar-elements-dropdown {
  @apply bg-black absolute
}

/* Header */

.header-container{
  @apply py-5 text-center
}

.header-text{
  @apply text-4xl font-bold
}

/* News Cards */

.news-details{
  @apply mb-10 ml-5 
}

.news-image{
  @apply mt-2 
}

.news-title{
  @apply font-bold my-1
}

.news-description{
  @apply my-2
}

.read-more{
  @apply font-semibold italic
}

.news-cards{
  @apply mb-2 
}

@media(min-width:1010px){
  .news-image{
    @apply max-w-[400px] min-w-[400px] ml-20
  }

  .news-cards{
    @apply flex justify-start mr-2
  }

  .news-description{
    @apply max-w-[1000px] 
  }

  .news-title{
    @apply max-w-[500px] mt-1
  }
}

@media (max-width: 1010px) {

  /* Navbar */
  .hide-on-mobile {
    @apply hidden
  }

  .menu-button {
    @apply block cursor-pointer w-10 text-white py-0.5 
  }

  .navbar-elements-dropdown {
    @apply hidden
  }

  .navbar-elements-dropdown {
    @apply flex flex-col  absolute left-0 right-0  bg-[#000] text-white h-[50%] w-[50%] justify-around items-center
  }

  .navbar-elements{
    @apply hidden
  }

  .menu-icon{
    @apply w-6 ml-2 
  }

  .navbar-container{
    @apply h-[35px]
  }
  
  .line {
    @apply  w-6 h-0.5 bg-white pt-0.5 mb-1.5 relative ml-2
  }
  
  .line:nth-child(1) {
    top: 6px;
  }
  
  .line:nth-child(2) {
    top: 6px; 
  }
  
  .line:nth-child(3) {
    top: 6px; 
  }
  
  /* news card */
  
  .news-description{
    @apply mr-5 
  }

}

