@tailwind base;
@tailwind components;
@tailwind utilities;

/* Page */
body {
  @apply m-0;
  font-family: 'Roboto', sans-serif;
}

.layout {
  @apply flex flex-col min-h-[100vh] bg-[#f2f2f2];
}

.content {
  @apply flex-1 p-5
}

/* NavBar */

.navbar-container{
  @apply bg-[#333] py-1.5 w-screen fixed top-0 pr-5
}
.navbar-elements{
  @apply flex justify-around text-[#fff] items-center 
}

.hide-on-big-screen{
  @apply hidden
}

.sub-categories {
  @apply relative bg-[#333]
}

.sub-list{
  @apply my-2 h-8 mx-2 
}

.sub-cat{
  @apply cursor-pointer
}

.navbar-elements-dropdown {
  @apply bg-[#333] absolute
}

/* Header */

.header-container{
  @apply py-5 text-center mt-12
}

.header-title{
  @apply text-xl font-semibold italic mb-2 mt-1
}

.header-text{
  @apply text-4xl font-bold
}

.search-container{
  @apply ml-24 mx-auto mt-3 
}

.search-bar{
  @apply py-1 rounded-md px-3 shadow-sm
}

.search-btn{
  @apply bg-[#007bff] rounded-md text-[#fff] px-5 ml-1 py-1
}

.search-btn:hover{
  @apply bg-[#0056b3]
}

.li-elements:hover,
.navbar-li:hover,
.sub-list:hover,
.category-item:hover,
.sub-cat:hover{
  @apply text-gray-400
}

.sort-options{
  @apply mt-3 p-1 bg-[#fff]
}

/* News Cards */

.news-cards-container {
  @apply grid grid-cols-[repeat(auto-fit,minmax(300px,1fr))] gap-6 mt-[-24px]

}

.news-cards {
  @apply bg-[#fff] rounded-sm overflow-hidden shadow-md;
}

.news-cards{
  transition: transform 0.8s ease-in-out, box-shadow 0.2s ease-in-out;
}

.news-image img {
  @apply w-[100%] h-[250px] object-cover rounded-tl-lg rounded-tr-lg
}

.news-details {
  @apply p-4
}

.article-info-container{
  @apply flex justify-between mt-[-10px] italic text-gray-500 text-xs my-1 mt-0.5
}

.source{
  @apply flex justify-end
}

.news-title {
  @apply text-lg font-bold mb-2 text-[#333];
}

.news-description {
  @apply text-sm leading-6 mb-2.5 text-[#555];
}

.read-more {
  @apply inline-block bg-[#007bff] text-[#fff] py-2 px-4 rounded-md;
}

.read-more:hover {
  @apply bg-[#0056b3]
}

.pagination{
  @apply text-sm w-[23rem] mt-4 border bg-[#fff] rounded-md flex justify-center mx-10 shadow-sm mx-auto
}

.page-btns{
  @apply italic text-sm px-2 flex items-center
}

.page-number-box {
  @apply inline-block px-4 py-2 border border-gray-300 rounded-sm;
  
}

.page-number-box.current-page{
  @apply border-gray-950
}

.btn-disabled{
  @apply opacity-50 cursor-auto
}

.arrows{
  @apply h-5 font-semibold mt-[-1.5px]
}

.next-arrow{
  
}

.prev-arrow{
  
}

/* footer */

.footer {
  @apply text-center p-2.5 bg-[#333] text-[#fff] text-sm
}

/* Media */

@media (max-width: 700px) {

  .hide-on-mobile {
    @apply hidden
  }

  .menu-button {
    @apply block cursor-pointer w-10 text-[#fff] py-0.5 
  }

  .navbar-elements-dropdown {
    @apply hidden
  }

  .navbar-elements-dropdown {
    @apply flex flex-col  bg-[#333] text-[#fff] w-[120px] items-center 
  }

  .li-elements{
    @apply my-2 cursor-pointer
  }

  .navbar-elements{
    @apply hidden
  }

  .menu-icon{
    @apply w-6 ml-2 
  }

  .navbar-container{
    @apply h-[35px]
  }
  
  .line {
    @apply  w-6 h-0.5 bg-[#fff] pt-0.5 mb-1.5 relative ml-2
  }
 
  .sub-list-container{
    @apply bg-[#333] ml-20 mt-[-40px] px-16 rounded-sm py-3
  }

  .search-container{
    @apply ml-0 
  }
}

@media(max-width: 400px){
  .pagination{
    @apply w-64 mx-auto
  }

  .page-number-box {
    @apply  py-0.5 px-1 w-5;
    
  }
}